/* App.css */

body.light {
  --background-color: #ffffff;
  --text-color: #000000;
}

body.dark {
  --background-color: #000000;
  --text-color: #ffffff;
}


/* Apply these variables in your CSS */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Additional styling for dark mode */
.navbar-light {
  background-color: var(--background-color);
  color: var(--text-color);
}
