.footer {
  background-color: #212223;
  color: white;

  .footer-logo {
    width: 150px;
    background-color: rgb(220, 214, 214);
    border-radius: 30px;
  }

  .social-icon {
    font-size: 1.5rem;
    color: white;
    transition: color 0.3s ease;
  }

  .social-icon:hover {
    color: #007bff;
  }

  .list-unstyled {
    padding-left: 0;
    list-style: none;
    color: white;
  }

  .list-unstyled li {
    margin-bottom: 0.5rem;
    color: white;
  }

  .list-unstyled a {
    color: #333;
    text-decoration: none;
    color: white;
  }

  .list-unstyled a:hover {
    color: #007bff;
  }
}
