.navbar {
  /* border: 2px solid red; */
}
.navbar-brand {
  /* border: 2px solid red; */
}
.navbar-menu-section {
  /* border: 2px solid red; */
  max-width: 800px;
  width: 100%;
}

.navbar-button-section {
  /* border: 2px solid red; */
  max-width: 450px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar-nav {
  /* border: 2px solid red; */
}

.nav-btn {
  border: none;
  padding: 10px 10px;
  border-radius: 8px;
  height: 35px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-btn:hover {
  transition: 0.5s;
}
/* this is for login button css  */
.btn-login {
  /* background-color: #d1485f; */
  background: linear-gradient(90deg, #48aad1 0%, #957fd3 100%);
  color: white;
  transition: all 0.3s ease 0s;
}
.btn-login:hover {
  background: linear-gradient(90deg, #d19648 0%, #d37f7f 100%);
  translate: 0.5s;
}
/* this is for register button css */
.btn-register {
  background: linear-gradient(90deg, #d19648 0%, #d37f7f 100%);
  color: white;
  transition: all 0.3s ease 0s;
}
.btn-register:hover {
  background: linear-gradient(90deg, #48aad1 0%, #957fd3 100%);
  translate: 0.5s;
}
/* this is for admin button css  */
.btn-admin {
  background-color: #5b575abb;
  color: white;
  transition: all 0.3s ease 0s;
}

.btn-admin:hover {
  background-color: #5b575a;
  translate: 0.5s;
}
.btn-admin .admin-icon {
  margin-right: 5px;
}
/* this is for listing buisiness button  */
.btn-business {
  background-color: #d1485f;
  color: white;
  transition: all 0.3s ease 0s;
}
.btn-business:hover {
  background-color: #ff6b7d;
  translate: 0.5s;
}

/* this is for business dashboard navigation button css  */
.btn-business-dashboard {
  background-color: #5b575abb;
  color: white;
  transition: all 0.3s ease 0s;
}

.btn-business-dashboard:hover {
  background-color: #5b575a;
  translate: 0.5s;
}
.btn-theme {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
  border-radius: 50%;
  padding: 0;
  font-size: 1.2rem; /* Adjust as needed */
}

.btn-theme:hover {
  background-color: #ddd; /* Light grey background on hover */
}

/* Style for search box wrapper in header */
.searchbox-wrapper {
  flex-grow: 1; /* Ensures search box grows to take available space */
  max-width: 400px; /* Adjust this value according to your design */
  margin-left: 20px;
}

.searchbox-wrapper .search-container {
  width: 100%;
}

/* Ensure suggestions dropdown looks good in the header */
.search-container .list-group-item {
  cursor: pointer;
}

/* Adjust suggestions to not overlap with navbar */
.list-group {
  position: absolute;
  z-index: 1000; /* Ensure it appears above other elements */
  width: 100%;
  max-width: 400px; /* Adjust if needed */
}
