/* General Styling */
.login-container {
  /* background-color: #f8f9fa; */
  font-family: "Poppins", sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.login-form-section {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* border: 2px solid red; */
}

.login-info-section {
  background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
  border-radius: 10px;
}

.gradient-custom-2 {
  background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
  color: white;
  border: none;
}

.gradient-custom-2:hover {
  background: linear-gradient(135deg, #2a5298 0%, #1e3c72 100%);
}

.password-toggle-btn {
  position: absolute;
  right: 10px;
  top: 75%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #6c757d;
}

.password-toggle-btn:hover {
  color: #2a5298;
}

/* Responsive Design */
@media (max-width: 768px) {
  .login-form-section {
    padding: 20px;
  }

  .login-info-section {
    display: none;
  }
}
