.popular-category-container {
  padding: 20px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.popular-category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(33, 28, 28, 0.1);
}

.popular-category-card .category-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popular-category-card .card-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(113, 111, 104);
}
