.hero {
  position: relative;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 100vh;
  height: 60%;
  background: linear-gradient(135deg, #354e89 0%, #2a5298 100%);
  background-size: cover;
}

.promo-banner-container {
  width: 100%;
  max-width: 1200px;
  height: 400px;
  /* margin: 0 auto 2rem auto; */
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  /* box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); */
  backdrop-filter: blur(10px);
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
}
.promo-banner-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, #e1e2e4 0%, #c5cad1 100%);
  opacity: 0.9;
}
.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  color: white;
  text-align: center;
  position: relative;
  z-index: 2;
}
.header {
  padding-top: 3vh;
}
.content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;

  background: linear-gradient(to right, #fff, #e1e1e1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tagline {
  margin-bottom: 2.5rem;
  animation: fadeInUp 1s ease-out 0.5s backwards;
  color: rgba(255, 255, 255, 0.9);
}

.popular-categories {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 2.5rem;
  flex-wrap: wrap;
  animation: fadeIn 1s ease-out 1.5s backwards;
}
.popular-categories .category {
  background: rgba(255, 255, 255, 0.15);
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 500;
}

.popular-categories .category:hover {
  background: rgba(255, 255, 255, 0.25);
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.popular-categories .category {
  background: rgba(255, 255, 255, 0.15);
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 500;
}

.popular-categories .category:hover {
  background: rgba(255, 255, 255, 0.25);
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
