.hero {
  /* min-height: 100vh; */
  /* max-height: 80vh; */
  position: relative;
  overflow: hidden;
  /* padding-bottom: 50px; */
  /* border: 2px solid red; */
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 100vh;
  height: 60%;
  background: linear-gradient(135deg, #354e89 0%, #2a5298 100%);
  /* background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23ffffff10' fill-opacity='1' d='M0,96L48,112C96,128,192,160,288,186.7C384,213,480,235,576,213.3C672,192,768,128,864,128C960,128,1056,192,1152,208C1248,224,1344,192,1392,176L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'%3E%3C/path%3E%3C/svg%3E"); */
  background-size: cover;
}

.promo-banner-container {
  width: 100%;
  max-width: 1200px;
  height: 400px;
  /* margin: 0 auto 2rem auto; */
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  /* box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); */
  backdrop-filter: blur(10px);
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
}
.promo-banner-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, #e1e2e4 0%, #c5cad1 100%);
  opacity: 0.9;
}
.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  color: white;
  text-align: center;
  position: relative;
  z-index: 2;
}
.header {
  padding-top: 3vh;
}
.content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;

  background: linear-gradient(to right, #fff, #e1e1e1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tagline {
  margin-bottom: 2.5rem;
  animation: fadeInUp 1s ease-out 0.5s backwards;
  color: rgba(255, 255, 255, 0.9);
}

.popular-categories {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 2.5rem;
  flex-wrap: wrap;
  animation: fadeIn 1s ease-out 1.5s backwards;
}
.popular-categories .category {
  background: rgba(255, 255, 255, 0.15);
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 500;
}

.popular-categories .category:hover {
  background: rgba(255, 255, 255, 0.25);
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.popular-categories .category {
  background: rgba(255, 255, 255, 0.15);
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 500;
}

.popular-categories .category:hover {
  background: rgba(255, 255, 255, 0.25);
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
